@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');


body {
    width: 1400px;
    height: 595px;
    background: #FFFFFF;
}
header {
    text-align: center;
}
h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;

    margin-top: 100px;
}
.line {
    border-bottom: 1px solid #E72424;
    width: 64px;
    margin-left: 668px;
}
.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin-top: 30px;
    margin-bottom: 67px ;
}
main {
    text-align: center;
}
.circle {
    position: relative;
    vertical-align: middle;
    border: 1px solid red;
    height: 70px;
    border-radius:50%;
    width: 70px;
    margin-left: 140px;
}
img {
    position:static;
    display: block;
    /* padding: 20%; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 25%;
}
.section {
    display: inline-block;
    width: 350px;
    margin-left: 12px;
}
.section:first-child { margin-left: 0;}
h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;  
    margin-top: 30px;
}
.text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

